html {
	margin-top: 32px!important;
	margin-left: auto;
	margin-right: auto;
	padding: 0 2vw;
	width: 100%;
	box-sizing: border-box;
	font-family: courier, sans-serif;
}
head {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}
.banner {
	margin: 0;
	padding: 0;
	max-height: 300px;
	width: 100%;
	object-position: center;
	z-index: 0;
	object-fit: cover;
}
.header-h1 {
	margin: 0;
	font-size: 22vw;
	width: 100%;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.2);
	color: rgba(30,30,30,0.2);

	background-image: url(../images/low-ground-shot.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;

	-webkit-background-clip: text;
}
.h1-nature {
	margin: 0;
	font-size: 22vw;
	width: 100%;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.2);
	color: rgba(30,30,30,0.2);

	background-image: url(../images/low-ground-shot.jpg);
	background-size: 100%;
	background-position: 50% 50%;

	-webkit-background-clip: text;
}
.h1-food {
	margin: 0;
	font-size: 22vw;
	width: 100%;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	color: rgba(30,30,30,0.2);

	background-image: url(../images/sunflower-close.jpg);
	background-size: 100%;
	background-position: 20% 20%;

	-webkit-background-clip: text;
}
.h1-dreams {
	margin: 0;
	font-size: 22vw;
	width: 100%;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(30, 30, 30, 0.2);
	color: rgba(255,255,255,0.3);

	background-image: url(../images/banner_nightscene1.png);
	background-size: 100%;
	background-position: 50% 50%;

	-webkit-background-clip: text;
}
.navbar {
	height: 50px;
	position: sticky;
	background-color: rgb(30,30,30);
	border-style: solid;
	border-width: 5px;
	border-color: rgba(55,55,55,0.5);
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
}
button {
	padding: 5%;
	border: none;
	background-color: rgba(25,25,25,0);
	color: white;
	font-family: impact;
	font-size: 110%;
	text-align: center;
	text-decoration: none;
	border-radius: 20%;
}
button:hover {
	padding: 5%;
	background-color: rgba(100,100,100,1);
	border-radius: 20%;
	transition: 0.1s ease;
}
body {
	margin: auto;
	padding: 0 0;
	background-image: linear-gradient(rgba(20,20,20,1),rgba(10,10,10,1));
	color: white;
	width: 100%;
}
.wrapper-main {
	margin: 0 auto;
	padding: 0 20px;
}
.site-main {
	margin: 0 auto;
	padding: 0;
	display: inline;
	float: left;
	width: 75%;
}
.site-aside-wrapper {
	display: inline;
	float: left;
	width: 25%;
}
.quick-nav-media {
	padding: 2%;
	border-radius: 10%;
	justify-content: center;
}
.quick-nav-media:hover {
	padding: 2%;
}
.top-media {
	padding: 1%;
	float: right;
}
.top-media:hover {
	padding:1%;
}
.latest-text {
	clear: both;
	color: white;
	text-decoration: none;
	text-align: center;
}
.latest-video-box {
	margin: 5%;
	position: relative;
	padding-bottom: 50%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.latest-video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.latest {
	padding: 2vh;
	background-image: radial-gradient(rgba(50,60,50,0.3),rgba(0,0,0,0));
	text-align: center;
	text-decoration: none;
	color: white;
}
hr {
	display: block;
	border-style:solid;
	border-width:3px;
	border-color:rgb(30,30,30);
	clear:both;
}
.center-text {
	text-align: center;
}
.float-image-left{
	float: left;
	max-width: 60%;
	max-height:60%;
}
.list-image {
	display:block;
	width:100%;
	vertical-align: center;
}
.image-list {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr;
}
.list-text {
	grid-column-start: 2;
	grid-column-end: 3;
	text-align: center;
}
.span-2-column {
grid-column: span 2;
}
.sit-right {
	float: right;
	background: slategrey;
	font-size: 1rem;
	color: white;
	text-decoration: none;
}
.YT-content1 {
	float: left;
	max-width: 360px;
	max-height: 360px;
}
.link-text {
	text-align:left;
	width:fit-content;
	block-size:fit-content;
}
.link-icon:hover {
	background-color:rgba(70,70,70,1);
	border-radius:5%;
}
.mySlides {
	display:none;
}

/* Slideshow container */
.slideshow {
	box-sizing: border-box;
	width: 100%;
	padding: 5%;
	position :relative;
	margin-left: auto;
	margin-right: auto;
}
.slideshow-header {
	text-align: center;
	font-size: 1.2rem;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 5%;
	left: 0;
  margin-top: -2rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
	left: auto;
	padding: 5%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a background color with see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
	display: flex;
	color: #f2f2f2;
	background-color: rgba(80,80,80,0.2);
	border-radius: 0;
	font-size: 1.5rem;
	padding: 0.2rem;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left:auto;
	margin-right:auto;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:rgb(50,50,50);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.about-icon {
	margin-left: auto;
	margin-right: auto;
	max-height: 20rem;
	max-width: 20rem;
	float: right;
}
p {
	padding:2vw;
}
img {
	vertical-align: middle;
	width: 100%;
}
.blog-post-teaser {
	padding:0.5rem;
	display:grid;
	grid-column-gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
}
.blog-column {
	display:grid;
	grid-template-columns: 1fr 1fr;
	max-height: 50%;
}
.footer {
	margin: 0;
	padding: 0;
	border-top-style: solid;
	border-top-width: thick;
	border-top-color: rgba(45,45,45,0.8);
	background-image: linear-gradient(rgba(40,40,40,0.8),rgba(0,0,0,0.1));
	text-align: center;
	clear: both;
}
.column-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.column {
	flex: 1;
	float: left;
	width: 50%;
	padding: 0 auto;
	border-left: 5px solid slategrey;
	border-right: 5px solid slategrey;
}
@media screen and (max-width: 600px) {
	.site-main {
		width: 100%;
	}
	.site-aside-wrapper {
		width: 100%;
	}
	.navbar {
		height: auto;
	}
	.column-container {
		flex-direction: column;
		width: 100%;
	}
	.column {
		width: 100%;
		padding: 0 auto;
	}
}
