* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
head {
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
	background-image:linear-gradient(rgba(20,20,20,1),rgba(10,10,10,1));
	color:white;
	width:100%;
}
.navbar {
	width:100%;
	height:auto;
	position:sticky;
	background-color:rgba(25,25,25,1);
	border-style:solid;
	border-width:5px;
	border-color:rgba(55,55,55,0.2);
	top:0;
	left:0;
	display: flex;
	justify-content: space-around;
	align-items:center;
	padding:0;
	z-index:1;
}
ul.no-bullets {
	list-style-type:none;
	margin: 0;
	padding: 0;
	z-index:1;
}
.navicon {
	float:left;
	text-decoration: none;
}
li a{
	display:flex;
	color:white;
	text-align:center;
	padding:0.5rem;
	text-decoration:none;
}
li.table-of-contents {
	float: none;
}
.center-text {
	text-align: center;
}
.list-image {
	display:block;
	width:100%;
	vertical-align: center;
}
.image-list {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr;
}
.list-text {
	grid-column-start: 2;
	grid-column-end: 3;
	text-align: center;
}
.span-2-column {
grid-column: span 2;
}
.sit-right {
	float:right;
	background: slategrey;
	font-size: 1rem;
	color: white;
	text-decoration: none;
}
.navicon:hover {
	background-image:radial-gradient(rgba(70,70,70,1),rgba(80,80,80,0.5));
	border-radius:10%;
	transition: 1s ease;
}
.YT-container {
	margin:0;
	width:100%;
	max-height:50%;
	border:0.4rem solid rgba(70,70,70,0.2);
	display:grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 50px 1fr;
	gap:5px;
	padding:5%;
	box-sizing: border-box;
}
.YT-header {
	grid-column-start: 1;
	grid-column-end: 3;
	text-align:center;
	vertical-align: middle;
}
.YT-content1 {
	grid-row-start: 2;
	grid-row-end: span 2;
	grid-column-start: 1;
	grid-column-end: 2;
}
.YT-content2 {
	grid-row-start: 2;
	grid-row-end: span 2;
	grid-column-start: 2;
	grid-column-end: 3;
}
.link-icon {
	margin-left:0;
	margin-right:0;
	padding:2vw;
	width:auto;
	height:auto;
	max-height: 100%;
}
.link-text {
	text-align:left;
	width:fit-content;
	block-size:fit-content;
}
.link-icon:hover {
	background-color:rgba(70,70,70,1);
	border-radius:5%;
}
.homeHeader {
	border:0.2em solid rgba(200,200,200,0.3);
	background-color:rgba(70,70,70,0.2);
	margin:0;
	width:100%;
	text-align:center;
}
.latest-title {
	text-align:center;
	text-decoration:none;
}
.latest {
	padding:2vh;
	background-image:radial-gradient(rgba(50,60,50,0.3),rgba(0,0,0,0));
	text-align:center;
	text-decoration: none;
	color: white;
}
hr {
	display: block;
	border-style:solid;
	border-width:3px;
	border-color:rgb(30,30,30);
}
.header-h1 {
	width:100%;
	font-family:impact;
	font-size:20.5vw;
	text-align:center;
}
.mySlides {
	display:none;
}

/* Slideshow container */
.slideshow {
	box-sizing:border-box;
	border: 0.3rem solid rgba(150,150,150,0.2);
	background-color:rgba(40,40,40,0.5);
	width:100%;
	padding:0;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
.slideshow-header {
	text-align: center;
	font-size: 1.2rem;
}
/* Next & previous buttons */
.prev, .next {
  cursor:pointer;
  position:absolute;
  top: 50%;
  width:auto;
  padding:5%;
  margin-top:-2rem;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 1s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a background color with see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.5);
}

/* Number text (1/3 etc) */
.numbertext {
	display:flex;
	color: #f2f2f2;
	background-color:rgba(80,80,80,0.2);
	border-radius:0;
	font-size: 1.5rem;
	padding:0.2rem;
	position: absolute;
	top: 0.1rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-left:auto;
	margin-right:auto;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:rgb(50,50,50);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.quick-about {
	display:grid;
	grid-template:20px 1fr/ 1fr 1fr;
	text-align:center;
	grid-column-start:1;
	grid-row-start:1;
}
.about-header {
	grid-column-start:1;
	grid-column-end:3;
}
.column1 {
	grid-column-start: 1;
}
.column2 {
	grid-column-start: 2;
	width:auto;
}
.about-icon {
	margin-left:auto;
	margin-right:auto;
	max-height:20rem;
	max-width:80%;
}
p {
	padding:2vw;
}
.header-em {
	font-size:150%;
}
img {
	vertical-align:middle;
	padding:5%;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
}
.banner {
	margin:0;
	padding:0;
	height:200px;
	width:100%;
	position:sticky;
	z-index:0;
}
.blog-post-teaser {
	padding:0.5rem;
	display:grid;
	grid-column-gap: 0.5rem;
	grid-template-columns: 1fr 1fr;
}
.footer {
	display:grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 0.5rem;
	margin:0;
	padding:1rem;
	border-top-style:solid;
	border-top-width:thick;
	border-top-color:rgba(45,45,45,0.8);
	background-image:linear-gradient(rgba(40,40,40,0.8),rgba(0,0,0,0.1));
text-align: center;
}
.footernav {
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	align-items:center;
}
