* {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}
#gameStatic {
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  box-sizing: border-box;
}
#gameDynamic {
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  box-sizing: border-box;
}
#gameMenu {
  margin: 0;
  padding: 0;
  position: absolute;
  display: block;
  box-sizing: border-box;
}
#textureSheet {
  display: none;
}
